.layout {
    height: 100%;
    background-color: #e1e1e1;

    .header {
        z-index: 1;
        width: 100%;
        padding: 0;
        background-color: #444444;

        .header_item {
            display: flex;
            width: 1344px;
            margin: 0 auto;

            .log_search_box {
                display: flex;
                flex-wrap: wrap;

                .logo {
                    width: 120px;
                    height: 50px;
                    padding: 10px 0;
                    margin-right: 24px;

                    & div {
                        background: rgba(255, 255, 255, 0.2);
                        text-align: center;
                        line-height: 30px;
                        font-size: 18px;
                        color: #fff;
                    }
                }

                .search {
                    display: flex;
                    align-items: center;

                    .search_icon {
                        position: relative;
                        left: 20px;
                        transform: rotateY(180deg);
                    }

                    & input {
                        height: 26px;
                        font-size: 12px;
                        width: 220px;
                        padding: 0 10px 0 23px;
                        background: #888888;
                        border: none;
                        border-radius: 25px;
                        transition: all ease-in 0.3s;

                        &:focus {
                            outline: none;
                            background: #fff;
                        }

                        &:hover {
                            background: #fff;
                        }
                    }
                }
            }

            .nav {
                list-style: none;
                margin: 0;
                padding: 0;
                min-height: 50px;
                line-height: 50px;
                text-align: right;
                color: #bdc3c7;
                flex: 1;
                display: flex;
                justify-content: flex-end;
                flex-wrap: wrap;

                & li {
                    padding: 0 15px;
                    cursor: pointer;

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }

    .content {
        height: 100%;
        width: 1344px;
        margin: 20px auto;
        display: flex;
        align-items: flex-start;

        .article {
            flex: 1;
            background-color: #fff;
            padding-bottom: 20px;
        }

        .sider {
            width: 300px;
            min-height: 500px;
            margin-left: 1%;

            .sider_item {
                list-style: none;
                padding: 0;
                margin: 0;

                & li {
                    width: 100%;
                    background-color: #fff;
                    margin-bottom: 20px;
                }

                .item {
                    .title {
                        height: 40px;
                        background-color: #f6f6f6;
                        line-height: 40px;
                        padding: 0 10px;
                    }

                    .detail {
                        padding: 10px;
                        display: flex;

                        .name {
                            margin-left: 10px;
                            line-height: 32px;
                            color: #34495e;

                            & p {
                                margin: 0;
                                padding: 0;
                            }

                            & a {
                                color: #95a5a6;
                            }
                        }
                    }

                    .sign {
                        padding: 10px;
                        color: #2c3e50;
                    }

                    .unanswered {
                        padding: 10px;

                        & p {
                            margin: 0;
                            padding: 5px 0;
                            width: 276px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;

                            & a {
                                color: #95a5a6;
                            }
                        }
                    }

                    .accumulate {
                        list-style: none;
                        margin: 0;
                        padding: 10px;

                        & li {
                            margin: 0;
                            padding: 0;
                            color: #95a5a6;
                            margin-bottom: 10px;

                            & a {
                                color: #95a5a6;
                                margin-left: 20px;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }

                    .top {
                        color: #7f8c8d;
                        margin-left: 10px;

                        &:hover {
                            color: #34495e;
                        }
                    }
                }

                .publish {
                    padding: 10px;

                    & button {
                        background-color: #44bd32;
                        border: none;
                    }
                }

                .ads {
                    padding: 10px 10px 0 10px;

                    & img {
                        width: 100%;
                        height: 80px;
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1366px) {
        .content {
            width: 90%;
        }

        .header_item {
            width: 90% !important;
        }
    }

    @media screen and (max-width: 980px) {
        .header {
            .header_item {
                display: block;

                .nav {
                    justify-content: start;
                }
            }
        }

        .content {
            width: 98%;
        }

        .sider {
            display: none;
        }
    }
}